#maintitle {
color: #C93535;
font-family: 'Oswald', sans-serif;

width: 400px
height:480px;

border: 2px solid #C93535;
border-left: 20px solid #C93535;

padding: 25px;
padding-top: 100px

margin: 100px;
}

.oswald
{
  font-family: 'Oswald', sans-serif;
}
.largetext {font-size:40px; }
.light-txt { color: #649BBC; }
